{% extends 'base.html' %}

{% block content %}
<h1>Inicio</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis harum ab totam animi ex omnis quis deserunt
    distinctio quas commodi accusantium, inventore exercitationem quo saepe nihil, nesciunt rem aspernatur qui, fugiat
    cum dolorum assumenda ad. Eius vel blanditiis, quasi rem perspiciatis natus quo. Ex optio, dolores quisquam id quasi
    fugiat? Tempore reiciendis suscipit veritatis dolor ad corporis, obcaecati deserunt illum? Blanditiis in aperiam
    cupiditate nihil consequuntur nam dicta, est soluta earum molestiae voluptatum quam veniam aspernatur adipisci! Odit
    exercitationem aspernatur ipsa quibusdam, unde distinctio numquam beatae, quaerat, fuga blanditiis vitae! Minus aut
    quo optio consequuntur molestias enim sed. Laborum, autem.</p>
{% endblock %}