{% extends 'base.html' %}

{% block content %}
<h1>Librerias</h1>

<ul>
    {% for libro in libros %}
    <li>
        <a href="{% url 'detalle_libro' libro.id %}">
            <h2>{{libro.title}}</h2>
        </a>
        <p>{{libro.description}}</p>
        <p>{{libro.user.username}}</p>
        {% if libro.image %}
        <img src="{{ libro.image.url }}" alt="{{ libro.title }}" width="150">
        {% endif %}
        <form method="POST" action="{% url 'eliminar_libro' libro.id %}" onsubmit="return confirmDelete()">
            {% csrf_token %}
            <button type="submit">
                Eliminar
            </button>
        </form>
    </li>
    {% endfor %}
</ul>
<script>
    function confirmDelete() {
        return confirm("¿Estás seguro que deseas eliminar este libro?");
    }
</script>


{% endblock %}